RewriteEngine on
# If a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Otherwise forward it to progress.php
RewriteRule . index.php

RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://lk.d5perm.ru/$1 [R,L]